<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="utf-8"></meta>
   <title> Lista de Afazeres: Nova Lista</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
   <link rel="stylesheet" href="style/style.css"/>
</head>

<body>
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
    		<div class="navbar-header">
      			<a class="navbar-brand glyphicon glyphicon-ok" href="index">Listas de afazeres</a>
    		</div>
  		</div>
  	</nav>

    <h3> Ana Maria da Costa Ribeiro</h3>
    <h4> Estudante de ciência da Computação na UFCG</h4>
    <h4> Email: <a href="mailto:ana.ribeiro@ccc.ufcg.edu.br"> ana.ribeiro@ccc.ufcg.edu.br</a></h4>
    <h4> Github: <a href="http://github.com/ribeiroana">RibeiroAna</a></h4>
    <h4> Twitter <a href="http://twitter.com/anacosri">@anacosri</a></h4>
    <h3><a href="/">home</a></h3>
</body>
</html>
